/* .....Common shared styles..... */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
  font-family: 'Mulish', sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}
main{
  max-width: 1170px;
  margin: 0 auto;
}
.description{
  color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary{
  color: #FFF;
  padding: 15px 25px;
font-size: 1rem;
font-weight: 700;
border: none;
  border-radius: 8px;
background: #FF5400;
cursor: pointer;
}
.btn-primary:hover{
  color: rgb(26, 6, 175);
}
.heading{
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
/* .....Header section styles...... */
header{
    margin-bottom: 70px;
}
  nav{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav-heading{
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    padding-left: 50px;
  }
  .nav-title{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
    
  }
  .manik{
    color: #131318;
font-size: 2.25rem;
font-weight: 800;
  }
  .nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 35px;
    margin-right: 50px;
  }
    
   .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #080808;
        margin: 5px 0;
    } 

  
  .home{
    color: #FF5400;
font-size: 1.12rem;
font-weight: 700;
  }

  /* ....Banner section styles..... */

  .banner{
    max-width: 1170px;
    margin: 20px;
    padding: 0 180px;
    padding-top: 20px;
    padding-bottom:70px ;
    margin: 30px 90px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png); 
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
  .banner-container{
    text-align: center;
    padding: 0 30px;
  }
  .banner-title{
    color: #FFF;
font-size: 4rem;
font-weight: 800;
  }
  .banner-description{
    color: #FFF;
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-bottom: 20px;
  }
  .banner-input{
    background-color: rgba(240, 248, 255, 0.51);
    border-radius: 5px;
    padding: 10px ;
    margin-bottom: 10px;
  }
  .input-field,.bnr-btn{
    width: 23%;
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
  }

/* .....Our Popular section styles..... */

.popular-container{
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .popular-content{
        width: calc(100% - 20px);
        padding: 10px;
    }
    .popular-image{
        width: calc(100% - 20px);
    }
    .popular-image img{
        width: 100%;
    }
    
    /* .....Destination section styles..... */
    
    .dest-content{
        text-align: center;
        padding: 0 120px;
    }
    .dest-img-container{
        margin: 70px auto;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "mal mal mal mal mal mal    ind ind ind ind ind ind"
        "sri sri sri sri   nam nam nam nam nam kas  kas kas"
        "bd bd bd bd bd         ban ban ban ban ban ban ban"
        ;
    }
    #dest-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
    }
    .dest-img-1{
    grid-area: mal;
    background-image: url(../Images/Rectangle\ 5.png);
    }
    .dest-img-2{
    grid-area: ind;
    background-image: url(../Images/Rectangle\ 8.png);
    }
    .dest-img-3{
    grid-area: sri;
    background-image: url(../Images/Rectangle\ 6.png);
    }
    .dest-img-4{
    grid-area: nam;
    background-image: url(../Images/Rectangle\ 7.png);
    }
    .dest-img-5{
    grid-area: kas;
    background-image: url(../Images/Rectangle\ 9.png);
    }
    .dest-img-6{
    grid-area: bd;
    background-image: url(../Images/Rectangle\ 11.png);
    }
    .dest-img-7{
    grid-area: ban;
    background-image: url(../Images/Rectangle\ 10.png);
    }
    .dest-img-title{
        color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    }
/* ....Choose Us/service section styles..... */

.service{
    margin-bottom: 50px;
 }
 .service-content{
    text-align: center;
    padding: 0 150px;
    margin-bottom: 50px;
 }
 .service> img, .card-title{
    margin-bottom: 10px;
 }
 .service-card-container1{
    display: flex;
    gap: 20px;
 }
 .service-card1{
    padding: 15px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
 }
 .service-card2{
    padding: 15px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
 }
 .service-card-container2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .service-card3{
    width: calc(50% - 10px);
    padding: 15px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
 }

 /* ....Routes section styles.... */

 .routes{
margin-bottom: 70px;
background-color: rgba(210, 185, 134, 0.242);
border-radius: 20px;
padding: 20px 10px;
 }
 .route-content{
  text-align: center;
  padding: 20px 120px;
 }
 .route-air, .route-marine, .route-road{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
 }
 .air-title, .marine-title, .road-title{
  color: #131318;
font-size: 1.5rem;
font-weight: 800;
margin-top: 60px;
 }
 .flex-content{
  padding: 20px;
  width: calc(50% - 20px);
  margin: 0 auto;
  border-radius: 16px;
 }
 .air-content{
  background-color: rgba(147, 187, 188, 0.445);
 }
 .marine-content{
  background-color: rgba(188, 185, 147, 0.445);
 }
 .road-content{
  background-color: rgba(188, 147, 182, 0.445);
 }
 .route-img{
  width: calc(50% - 20px);
 }
 .route-img img{
  border-radius: 16px;
  width: 100%;
 }
 /* .....Newsletter section styles..... */
 .newsletter{
    /* width: 100%; */
    margin-top: 100px;
    margin-bottom: 50px;
   }
   .newsletter-container{
      display: flex;
      gap:20px;
   }
   .input{
    padding: 40px;
    border-radius: 16px;
  border: 1px solid #FF5400;
   }
   .newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   hr{
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(19, 19, 24, 0.10);
   }
   #name, #email{
    border: none;
    padding: 15px ;
    border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.30);
  font-size: 1rem;
  font-weight: 400;
   }
  .news-img-container {
    padding: 15% 0;
    width: calc(60% - 20px);
    height: 100%;
  background-image: url(../Images/Rectangle\ 8\ \(1\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  }
   .news-tag{
    position: relative;
    left: 46%;
    top: 120px;
    transform: rotate(-20deg);
    width: 50%;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 20px;
  background: #FF5400;
   }
   .save-link{
    color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2px;
   }
   .save-title{
    color: #FFF;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2px;
   }
/* .....Footer section styles..... */
footer{
    padding: 50px 80px;
     background: rgba(19, 19, 24, 0.05);
    }
    .footer-container{
     padding: 0 40px;
     text-align: center;
    }
    .footer-heading{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
   margin-bottom: 20px;
    }
    .footer-title{
     line-height: 5px;
     color:  #131318;
   font-size: 2rem;
   font-weight: 800;
    }
    .footer-title span{
     color: #FF5400;
   font-size: 2rem;
   font-weight: 800;
    }
    .social{
     padding: 20px;
     margin-top: 20px;
    }
    hr{
     background: rgba(19, 19, 24, 0.10);
     margin-bottom: 50px;
    }
    .copyright{
     text-decoration: none;
     color: #131318;
   font-size: 1rem;
   font-weight: 300;
    }

    
/* .....Responsiveness for phone/small devices.... */

  @media screen and (max-width:600px) {
    *{
        margin: 0 auto;
    }
    main{
        width: 90vw;
    }
    /* .....Header section resp .... */
    .nav-heading{
        margin-left: 5px;
        flex-direction: column;

    }
    .nav-img{
        margin-left: 5px;
    }
    
    nav{

        flex-direction: column;
    }
    .nav-items {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        margin: 10px 400px;
    }

    .banner{
        padding:10px;
    }
    .banner-input{
        display: flex;
        gap: 20px;
        flex-direction: column;
       padding: 20px;
    }
    .input-field,.bnr-btn{
        width: 100%;
    }
    .banner-input .text{
       width: 92%;
    }
    /* .....Popular section resp .... */
    .popular-container{
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }
    /* .....Destination section resp.... */
    .dest-content{
        margin-top: 50px;
        padding: 10px;
    }
    .dest-content .heading{
        margin-bottom: 20px;
    }
    .dest-img-container{
        grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "mal"
      "ind"
      "sri"
      "nam"
      "kas"
      "bd"
      "ban"
      ;
      width: 87vw;
    }
    #dest-img{
        background-size: cover;
        height: 300px;
    }
    /*... Service section resp ... */
    .service-content{
        padding: 10px;
    }
    .service-content .heading{
        margin-bottom: 30px;
    }
    .service-card-container1{
        flex-direction: column;
    }
    .service-card3{
        width: 100%;
    }
    /*... Route section resp ... */
    .route-air, .route-marine, .route-road{
      flex-direction: column;
      padding: 0 10px;
    }
    .route-title{
      margin-bottom: 30px;
    }
    .route-content{
      padding: 10px;
    }
    .air-title, .marine-title, .road-title{
      margin-top: 20px;
    }
    .flex-content{
      width: calc(100% - 40px);
    }
    .route-img{
      width: 100%;
    }
    .route-marine{
      flex-direction: column-reverse;
    }
    /*... Newsletter section resp ... */
    .newsletter-container{
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .input{
      margin: 5px;
    }
    #name, #email{
      width: 93%;
      margin: 0 auto;
    }
    .subscribe{
      width: 100%;
    }
    .news-img-container{
      width: 100%;
      height: 40vh;
      /* height: 400px; */
      /* background-size: cover; */
      background-position: center;
      object-fit: cover;
    }
    .news-tag{
      position: relative;
      left: 120px;
      top: 165px;
      transform: rotate(-19.628deg);
      max-width: 50%;
      text-align: center;
      padding: 10px;
      border: none;
      border-radius: 20px;
    background: #FF5400;
     }
     .save-link{
      color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
     }
     .save-title{
      color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: normal;
     }
    /*... Footer section resp ... */
    footer{
      padding: 20px;
    }
    .footer-heading{
      gap: 5px;
      width: 50%;
    }
  }